html {
    font-family: Helvetica;
    text-align: center;
}

.head {
    color: white;
    background-image: url("https://s3.amazonaws.com/codecademy-content/programs/freelance-one/broadway/images/the-flatiron-building.png");
}

li a {
    color: white;
    font-size: 18px;
}

ul li {
    list-style: none;
}

.process h3 {
    font-size: 32px;
    font-weight: bold;
}

h4 {
    font-size: 23px;
    font-weight: bold;
}

p {
    font-size: 14px;
}

.footer h3 {
    color: white;
    font-weight: bold;
    font-size: 23px;
    background-image: url("https://s3.amazonaws.com/codecademy-content/programs/freelance-one/broadway/images/the-flatiron-building.png");
}

.footer nav {
    text-align: left;
    color: white;
    font-size: 11px;
    background-color: dimgray;
}

.footer a {
    color: white;
    font-size: 11px;
}
